@import "./reset.css";

/* Header */
.container{
    padding-top: 46px;
    min-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
}
.page_header {
    background-color: aquamarine;
    padding-top: 46px;
    min-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;

}