@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    color: #000;
}

.container {
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
}
/* Header */
.header{
    padding-top: 46px;
    background-color: #f1f1f1;
    
}

.header .container{    
    display: flex;
    /* align-items: center;     */
}

.logo{
    position: relative;
    padding-right: 12px;
    padding-bottom: 3px;
    margin-right: 70px;
    font-weight: 700;
    font-size: 22px;
    color: #000;
    /* background-color: aqua; */
    line-height: 1;
}

.logo::after{
    position: absolute;
    right: 0;
    bottom: 0;
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-color: #fda300;
    border-radius: 50%;
}

/* .header .address {
    margin-left: auto;
    margin-right: 40px;
} */
.header-nav{
    display: flex;
    justify-content: space-between;
}

.navigation__list{
    display: flex;
    
}

/* .navigation__list-item:not(:last-child){
    margin-right: 40px;
} */

/* components */
.modal-btn{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.333;
    letter-spacing: 0.09;
}