@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    color: #000;
}

.container {
    /* align-items: center; */
    /* outline: 1px solid rgb(49, 75, 7); */
    /* display: flex; */
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

/* Header */
.header{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #f1f1f1;
    
}
.header .container{
    display: flex;
    align-items: center;
}


.header .logo{
    position: relative;
    padding-left: 12px;
    padding-bottom: 3px;
    margin-right: 70px;
    font-weight: 700;
    font-size: 22px;
    color: #000;
    line-height: 1;
    /* outline: 1px solid red; */
}

.logo::after{
    position: absolute;
    left: 0;
    bottom: 13px;
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-color: #fda300;
    border-radius: 50%;
}

/* Navigation */

.navigation__list{
    display: flex;    
    column-gap: 50px;
    font-weight: 700;
    font-size: 14px;
    /* outline: 1px solid red; */
    
}

.navigation__list-link{
color: #000;
}

.navigation__list-link.active{
    color: #b2c36f;
}

/* components */

.modal-btn{
    min-width: 160px;
    height: 40px;
    
    border-radius: 25px;
    margin: 0 auto;
    margin-right: 0;
    appearance: none;
    
    border: 0;   
    background-color:#4676D7;
    color: rgb(255, 255, 255);
    font-weight: 400;
    line-height: 1.333;
    padding: 1px 6px;
    font-size: 14px;
    letter-spacing: 0.09em;
        
}
.modal-btn:focus,
.modal-btn:hover
 {
    outline: none;
    background-color: rgb(118, 118, 118);
    box-shadow: 0 0 0 2px #cbd6ee;
}
.address{
    font-weight: 500;
    font-size: 14px;
    color: #000;
    margin-right: 50px;
    margin-left: 50px;
}

/* <-----hero-----> */
.hero{
    background-image: linear-gradient(to bottom,
                rgba(255, 255, 0, 0.0),
                rgba(0, 0, 255, 0.0)),url('../image/0.3-1.jpg');
    /* background-size: contain; */
    /* background-repeat:no-repeat; */
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 206px;
}

.hero__title{
    border: 1px solid rgb(255, 255, 255);
    
    max-width: 500px;
    text-align: center;
    font-weight: 700;
    font-size: 55px;
    line-height: 1.857;
    letter-spacing: 0.05em;
    color: #ffffff;
    margin-bottom: 20px;    
}
.hero .description{
    max-width: 350px;
    margin-left: 75px;
    margin-bottom: 20px;

    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.667;
    letter-spacing: 0.02em;
    /* color: #9da4bd; */
}
/* .button__hero{
    
    margin-top: 10px;
} */

.button{
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
}
/* services */

.services {
    padding-top: 90px;
    padding-bottom: 20px;
    background-color: #f1f1f1;
}

/* .services__title {
    text-align: center;
    border: 1px solid red;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.667;
    letter-spacing: 0.05em;
} */

/* .services__list-wrapper{
    display: flex;
    justify-content: center;

} */

.services__list {
    display: flex;
    column-gap: 30px;
    justify-content: center;

    /* border: 1px solid rgb(0, 0, 0); */

}

.services__list-card {
    border: 1px solid rgb(214, 213, 213);
}

.services__card {
    margin-bottom: 30px;

}
.services__card-title{
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 20px;

}


/* .services__card-img {

} */




/* ============================information============================== */
.information{
    padding-top: 10px;
    padding-bottom: 30px;
}

.information__title{
    font-size: 30px;
    text-align: center;
}
.information__list{
    padding-bottom: 30px;
    column-gap: 30px;
    /* text-align: center; */
    display: flex;

    /* border: 1px solid red; */
    /* justify-content: center; */
    /* flex-direction: column; */
}

.description-section__work{
    text-align: center;
    font-size: 30px;
    
}
.description-section__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);    
    grid-gap: 1rem;
    border-radius: 3px;
    border: 1px solid #eee;
    /* background-color: #fff; */
    
}

.logo-img{
    
    
}

.image__list{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    border: 1px solid #eee;
    /* background-color: rgb(239, 239, 239);        */
}