@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    color: #000;
}

.header .container {
    align-items: center;
    outline: 1px solid rgb(49, 75, 7);
    display: flex;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
/* Header */
.header{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #f1f1f1;
    
}


.header .logo{
    position: relative;
    padding-left: 12px;
    padding-bottom: 3px;
    margin-right: 70px;
    font-weight: 700;
    font-size: 22px;
    color: #000;
    line-height: 1;
    /* outline: 1px solid red; */
}

.logo::after{
    position: absolute;
    left: 0;
    bottom: 13px;
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-color: #fda300;
    border-radius: 50%;
}

/* Navigation */

.navigation__list{
    display: flex;    
    column-gap: 50px;
    font-weight: 700;
    font-size: 14px;
    /* outline: 1px solid red; */
    
}

.navigation__list-link{
color: #000;
}

.navigation__list-link.active{
    color: #b2c36f;
}

/* components */

.modal-btn{
    width: 160px;
    height: 40px;
    
    border-radius: 25px;
    margin: 0 auto;
    appearance: none;
    
    border: 0;   
    background:#4676D7;
    color: rgb(255, 255, 255);
    font-weight: 600;
    line-height: 1.333;
    padding: 8px 16px;
    font-size: 12px;
    letter-spacing: 0.09em;
        
}
.modal-btn:focus {
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
}
.address{
    font-weight: 500;
    font-size: 14px;
    color: #000;
    margin-right: 50px;
    margin-left: 50px;
}